body,
html {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}
.container {
  display: flex;
  width: 80%;
  min-width: 1350px;
  margin: 0 auto;
}
#nprogress .bar {
  top: 70px !important;
  background: linear-gradient(90deg, #9abdeb, #80f9b7, #9abdeb) !important;
  height: 5px !important;
}
#nprogress .peg {
  display: none !important;
}

.search .el-input--suffix .el-input__inner {
  box-sizing: border-box;
  padding: 0 !important;
  display: block !important;
  background: none !important;
  border: none !important;
  outline: none !important;
  width: 600px;
  margin-left: 30px;
}

/* 加载动画 */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.loading span {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #409eff;
  border-left: transparent;
  animation: zhuan 0.5s linear infinite;
  border-radius: 50%;
}
@keyframes zhuan {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.el-dropdown-menu__item {
  padding: 0;
}
.el-dropdown-menu__item span {
  padding: 0 20px;
}

/* 图片懒加载 */
img[lazy='loading'] {
  height: 300px;
  border: 1px solid #ffffff;
  animation: gray-twinkle 1s infinite alternate;
}
img[lazy='error'] {
  height: 300px;
  border: 1px solid #ffffff;
  background: #e2e2e2;
}
/* img[lazy="loaded"] {
} */

@keyframes gray-twinkle {
  0% {
    background: #f4f8fc;
  }
  50% {
    background: #f5faff;
  }
  100% {
    background: #e5f2ff;
  }
}

/* 滚动条 */
.el-scrollbar__bar.is-vertical {
  z-index: 3000;
  width: 8px;
  scroll-behavior: smooth;
}
.el-scrollbar__thumb {
  background-color: rgba(144, 147, 153, 0.5);
}
.el-scrollbar__thumb:hover {
  background-color: rgba(144, 147, 153, 0.8);
}
.el-scrollbar__wrap {
  overflow-x: hidden;
}

.right-sticky .aside-right-nav {
  position: fixed;
  top: -60px;
  width: 260px;
  z-index: 10;
  transition: all 0.2s;
}

.left-sticky .aside-left-nav {
  position: fixed;
  top: -550px;
  width: 260px;
  z-index: 10;
  transition: all 0.2s;
}
